<a class="logo" href="/">
  <picture >
      <source srcset="/img/logo.webp, /img/logo_2x.webp 2x" type="image/webp">
      <source srcset="/img/logo.jpg, /img/logo@2x.jpg 2x" type="image/jpeg">
      <img alt="Leicester JS" src="/img/logo.jpg" width="1099" height="400" />
  </picture>
</a>