<nav>
  <a href="/meetups">Meetups</a>
  |
  <a href="/sponsors">Sponsors</a>
  |
  <a href="/contributors">Contributors</a>
  |
  <a href="/code-of-conduct">Code of Conduct</a>
  |
  <a href="/submit-talk">Submit a talk</a>
</nav>