<nav>
  <a href="/meetups">Meetups</a> | 
  <a href="/social">Social</a> | 
  <a href="/sponsors">Sponsors</a> | 
  <a href="/contributors">Contributors</a> |
  <a href="/code-of-conduct">Code of Conduct</a>
</nav>