<h2>Social</h2>

<ul>
  <li>
    Twitter:
    <a href="https://www.twitter.com/leicesterjs"
      >https://www.twitter.com/leicesterjs</a
    >
  </li>
  <li>
    Meetup:
    <a href="https://www.meetup.com/leicesterjs"
      >https://www.meetup.com/leicesterjs</a
    >
  </li>
  <li>
    Slack:
    <a href="/slack"
      >https://www.leicesterjs.org/slack</a
    >
  </li>
  <li>
    Submit a talk:
    <a href="https://github.com/leicesterjs/speakers"
      >https://github.com/leicesterjs/speakers</a>
  </li>
  <li>
    Email:
    <a href="mailto:meetup@joshghent.com?subject=LeicesterJS%20Meetup%20Question"
      >meetup@joshghent.com</a>
  </li>
</ul>
