---
title: LeicesterJS
description: LeicesterJS is a meetup all about JavaScript. Come and discuss all things JavaScript, Node and software development!
theme_color: "#2e353f"
twitter:
  title: LeicesterJS is a meetup all about JavaScript.
  description: Come and discuss all things JavaScript, Node and software development!
---
<!doctype html>
<html lang="en">
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://leicesterjs.org" />
    <meta property="og:image" content="https://leicesterjs.org/img/logo@2x.jpg" />
    <meta property="og:image:alt" content="A stylised orange fox and text that reads LeicsJS">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@leicesterjs" />
    <meta name="twitter:title" content="{{ twitter.title }}" />
    <meta name="twitter:description" content="{{ twitter.description }}" />
    <meta name="theme-color" content="{{ theme_color }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    {% set css %}
      {% include "../css/styles.css" %}
    {% endset %}

    <style>
      {{ css | safe }}
    </style>

  <body>
    <div id="skiplink-container">
      <div>
        <a class="skiplink" href="#maincontent">Skip to main content</a>
      </div>
    </div>

    <div class="container">
      <header>
        {% include "logo.njk" %}
      </header>

      {% include "navigation.njk" %}

      <main id="maincontent">{{ content | safe }}</main>
    </div>