---
title: LeicesterJS
---
<!doctype html>
<html lang="en">
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="LeicesterJS is a meetup all about JavaScript. Come and discuss all things JavaScript, Node and software development!">
    <meta property="og:title" content="LeicesterJS" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://leicesterjs.org" />
    <meta property="og:image" content="https://leicesterjs.org/img/logo@2x.jpg" />
    <meta property="og:image:alt" content="A stylised orange fox and text that reads LeicsJS">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@leicesterjs" />
    <meta name="twitter:title" content="LeicesterJS is a meetup all about JavaScript." />
    <meta name="twitter:description" content="Come and discuss all things JavaScript, Node and software development!" />
    <meta name="theme-color" content="#2e353f" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    {% set css %}
      {% include "../css/styles.css" %}
    {% endset %}

    <style>
      {{ css | cssmin | safe }}
    </style>

  <body>
    <div class="container">
      <a href="/"><img alt="Leicester JS" class="logo" src="/img/logo@2x.jpg" width="420" /></a>

      {% include "navigation.njk" %}

      {{ content | safe }}
    </div>

