---
layout: layout.njk
---

<h1>{{ title }}</h1>

{{ content | safe }}

{%- if talks.length %}
<h2>Talks</h2>

<ul>
  {%- for talk in talks %}
  <li>{{ talk.title }} - {{ talk.speaker }}</li>
  {% endfor -%}
</ul>
{% endif -%}

<h2>When</h2>

<p>{% readableDuration started_at, ended_at %}</p>

<h2>Where</h2>

{% if location %}
<a href="https://www.google.com/maps/search/?api=1&query={{ location | urlencode }}" target="_blank" rel="noopener noreferrer">{{ location }}</a>
{% else %}
TBC
{% endif %}

{% isFuture started_at %}
  <h2>RSVP</h2>

  <a href="https://www.meetup.com/leicesterjs/events/{{ meetup_id }}/">RSVP here!</a>
{% endisFuture %}
