:root {
  --brand-dark-blue: #2e353f;
  --brand-grey: silver;
  --brand-orange: #ff6d67;

  --brand-light-orange: #f5a623;
  --brand-dark-orange: #fb5249;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--brand-dark-blue);
  color: var(--brand-grey);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0.5rem;
}

a {
  color: var(--brand-grey);
  display: inline-flex;
}

a:visited {
  color: var(--brand-grey);
}

a:hover {
  color: var(--brand-orange);
}

a:focus {
  outline: 4px solid var(--brand-orange);
  outline-offset: 4px;
}

a img {
  outline: none;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2 {
  color: var(--brand-orange);
}

blockquote {
  border-left: 4px solid var(--brand-orange);
  margin: 0.5rem 0.75rem;
  padding: 0.5rem 0.75rem;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
  width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-header {
  border-radius: 0.25rem;
  overflow: hidden;
}

.card-header-empty {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 100%;
}

.card-body h2 {
  margin: 0.5rem 0 0;
}

.contributors {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
}

.thumbnail {
  border-radius: 0.25rem;
  transition: transform 0.1s ease-in-out;
  width: 100%;
}

.thumbnail:hover {
  transform: scale(1.1);
}

@media (min-width: 481px) {
  .sponsors {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(calc(200px - 0.5rem), 1fr));
  }
}

@media (max-width: 480px) {
  .card {
    flex-direction: row;
    margin-bottom: 0.5rem;
  }
  .card-header {
    height: 100px;
    width: 100px;
  }
  .card-header-empty {
    padding: 0;
  }
  .card-body {
    padding: 0 0.5rem;
  }
  .card-body h2 {
    margin-top: 0;
  }
}

.skiplink {
  position: absolute;
  left: -9999em;
}

.skiplink:focus {
  left: 0;
  z-index: 1;
}

#skiplink-container {
  text-align: center;
}

#skiplink-container div {
  text-align: left;
  margin: 0 auto;
  max-width: 1020px;
}

#skiplink-container .skiplink {
  margin-left: 0.75rem;
}
