---
permalink: 404.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LeicesterJS</title>
    <meta
      name="description"
      content="LeicesterJS is a meetup all about JavaScript. Come and discuss all things JavaScript, Node and software development!"
    />
    <meta name="theme-color" content="#2e353f" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="container">
      {% include "logo.njk" %}

      <h2>404 File not found</h2>
    </div>
  </body>
</html>
