---json
{
  "layout": "layout"
}
---

<h1>Contributors</h1>

<div class="contributors">
{% for contributor in github.contributors %}
  <a href={{ contributor.html_url }}>
    <img alt="Profile picture for {{ contributor.login }}" class="thumbnail" src="{{ contributor.avatar_url }}" />
  </a>
{% endfor %}
</div>