---
layout: layout
---

<h1>Next meetup</h1>
  
 <p>
 LeicesterJS is back for another tech (and pizza) filled evening. Connect with local developers and listen to talks by industry leaders and experts.</p>
<p>We don't have any information on the talks right now, but stay tuned!
 </p>

{% include "social.njk" %}
