---
layout: layout
---

<h1>January Meetup</h1>

<p><strong>Heads up! This is a remote meetup taking place over Zoom - Please RSVP for the URL.</strong></p>

<p>This month, we have a talk by Josh Ghent who is giving us an overview of the best static hosting providers. The JAMStack is the hottest frontend ticket in town, but where is the best and fastest place to host? Find out in this talk. Josh has done a comparison between Netlify, GitHub Pages, Surge, Vercel, Heroku and more.</p>

<p>Additionally, we're bringing back the cool wall - virtually. Share your highs with your favoruite technologies and tales of woe with others.</p>

<p>We can't wait to see you all. Please RSVP and you'll get the Zoom link :)</p>

{% include "social.njk" %}
