---
layout: layout
---

<h1>August Meetup</h1>

<p><strong>Heads up! This event will be presented remotely. Please RSVP for the URL.</strong></p>

<p>We don't have any information on the talks right now but stay tuned!</p>

{% include "social.njk" %}
