---json
{
  "layout": "layout"
}
---

<h1>Sponsors</h1>

<ul>
  <li>DeadHappy - <a href="https://deadhappy.com">https://deadhappy.com</a></li>
  <li>Harvey Nash - <a href="https://www.harveynash.co.uk">https://www.harveynash.co.uk</a></li>
  <li>PixelBits</li>
</ul>