---
layout: layout
---

<h1>Sponsors</h1>

<div class="sponsors">

  <div class="card">
    <div class="card-header">
      <img alt="Dead Happy Logo" src="/img/dead-happy.jpg" width="300" height="300" />
    </div>
    <div class="card-body">
      <h2>Dead Happy</h2>
      <p><a href="https://deadhappy.com">Visit website</a></p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <img alt="Harvey Nash Logo" src="/img/harvey-nash.jpg" width="740" height="740" />
    </div>
    <div class="card-body">
      <h2>Harvey Nash</h2>
      <p><a href="https://www.harveynash.co.uk">Visit website</a></p>
    </div>
  </div>

  <div class="card">
    <div class="card-header card-header-empty"></div>
    <div class="card-body">
      <h2>PixelBits</h2>
    </div>
  </div>

</div>